{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":39,"column":0},"end":{"row":40,"column":21},"action":"remove","lines":["django-tables==0.2","django-tables2==2.1.0"],"id":2},{"start":{"row":38,"column":29},"end":{"row":39,"column":0},"action":"remove","lines":["",""]}]]},"ace":{"folds":[],"scrolltop":401,"scrollleft":0,"selection":{"start":{"row":38,"column":29},"end":{"row":38,"column":29},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1565805738390,"hash":"dd489a42b4f487a177b21b90063bcfef38233a39"}