{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":264,"scrollleft":0,"selection":{"start":{"row":15,"column":0},"end":{"row":15,"column":13},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1564484901354,"hash":"b2d266e847ffbf2fadc618b7ac8355a39fc1a8aa"}