body {
    font-family: Arial;
    padding-top: 50px;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}


.accountform {
    padding-top: 20px;
}

div {
    
    background-repeat: no-repeat;
    
}

div.exercise.style.element {
    height: 250px;
    width: 220px;
    background-repeat: no-repeat;
    background-size: contain;
}