body {
    font-family: Arial;
    color: #181818;
    font-size: 12px;
    padding-top: 100px;
    max-width: 100%;
    background-image:url("https://cdn.pixabay.com/photo/2017/01/09/11/30/dumbbell-1966247__340.jpg");
    background-color: black;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
}


.icon-bar {
    color: transparent;
    background-color: transparent;
}

.focus {
    color:#f5f5f5;
    
}

.accountform {
    color:#f5f5f5;
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.exercise {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
   
}
 .panel{
    background-color: #00000000;
 }

.search {
   float: right;
    
}

.form {
    padding-bottom: 2px;
    margin-bottom: 10px;
    position: relative;
}

.form-group {
    color:#f5f5f5;
}

.exercise-description {
    color:#f5f5f5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 500px;
}

.text-justify{
    color: #f5f5f5;
}

#fullexercise {
    display: block;
    min-width: 50px;
    text-align: center;
    
}

#fullexercise h1{
    text-align: center;
    color: #f5f5f5;
}

table {
    background-color: #1d9ce5;
}
.text-justify{
    margin-top: 40px;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    
}
#button {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    
}

#button:hover {
  text-decoration: none;
  
}

.img-fluid{
    width: 100%;
    
}

.text-center{
    color:#f5f5f5;
    margin-top: 40px;
}
