{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    {% for exercise in exercises %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
               <div class="exercise" style="background-image: url('{{ MEDIA_URL }}{{ exercise.image }}');background-color:transparent;background-size: cover; background-position: center; background-repeat:no-repeat; height: 250px; width:220px;"></div>

                <h3>{{ exercise.name }}</h3>
                <p class="exercise-description">{{ exercise.description }}</p>

                <form class="form" method="post" action="{% url 'single_exercise' exercise.id %}">
                    {% csrf_token %}
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">View more ...</button>
                        </span>
                </form>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}