{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}



{% block content %}
<form role="form" method="POST" id="payment-form" action="{% url 'buy_program' %}">
    <legend>Your Details</legend>

    

    <div class="form-group col-md-6">
        {{ your_detailsform | as_bootstrap }}
    </div>

    {% csrf_token %}
    
    <div class="form-group col-md-12">
       <a href="{% url 'payment' %}"><input class="btn btn-primary" id="submit_btn" name="commit" type="submit" value="Submit">
       </a>
    </div>
    
</form>

{% endblock %}