{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<form role="form" method="post" id="payment-form" action="{% url 'your_details' %}">
    <legend>Your Details</legend>

    

    <div class="form-group col-md-6">
        {{ your_detailsform | as_bootstrap }}
    </div>
    <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose your fitness level</option>
        <option value="1">Begginer</option>
        <option value="2">Medium</option>
        <option value="3">Advance</option>
      </select>
    </div>

    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class=" btn btn-primary" id="submit_btn" name="commit" type="submit" value="Submit">
    </div>
</form>

{% endblock %}